.popular-properties{
  width: 100%;
  text-align: center;
  background-color: #f0f0f0;
}
.popular-properties__container{
  text-align: center;
  padding: 45px 10px;
  margin: 0 auto;
  max-width: $main-width;
}
.popular-properties__container h3{
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 20px;
}
.popular-properties__container ul{
  text-align: center;
  overflow: hidden;
  -webkit-box-pack: justify;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popular-properties__container ul li{
  display: inline-block;
}
.popular-properties__container ul li a{
  text-decoration: underline;
}
.popular-properties__container ul li a:after{
  display: inline-block;
  padding: 0 20px;
  content: '|';
}
.popular-properties__container ul li:last-child > a:after{
  display: none;
}
.popular-properties__container ul li a:hover{
  text-decoration: none;
}
.bottom-sidebar .widget{
  padding: 0;
}